html, body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

a:link {
  text-decoration: none;
  color: #1864ab;
}

a:visited {
  color: #5f3dc4;
}

a .inline-image {
  margin: 0 0.2em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em 0;
  padding: 1em 0 0 0;
  font-weight: normal;
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
  padding: 0;
  color: #1864ab;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}

h2 {
  font-size: 1.65em;
}

h3 {
  font-size: 1.45em;
}

p {
  margin: 0.5em 0 0 0;
}

#content {
  padding: 1.5em 2.5em 2.5em 2.5em;
  background-color: #f8f9fa;
  flex-grow: 3;
  flex-basis: 60em;
}

#primary-flex-container {
  display: flex;
  flex-wrap: wrap;
}

#intro-container {
  flex-grow: 1;
  flex-basis: 20em;
  display: flex;
  flex-direction: column;
}

#filler {
  background: url("../images/field.svg") no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

#bio {
  padding: 5em 5em 1em 5em;
  flex-grow: 0;
}

#update-time {
  flex-grow: 0;
  padding: 1em 5em 2.5em 5em;
}

#bio p {
  line-height: 1.25em;
}

#main-title {
  color: #000000;
  margin-top: 0.5em;
}

#main-image {
  width: 10em;
  height: 10em;
  background: url("../images/profile.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 2.5em auto 2em auto;
}

.inline-image {
  height: 1em;
  margin-right: 0.75em;
  position: relative;
  top: 0.15em;
}

h3 .inline-image {
  top: -0.05em;
}

.inline-div {
  display: inline-block;
}

.inline-div .inline-image {
  margin-right: 0.25em;
}

.hidden-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detail {
  display: inline-block;
  margin: 0.25em 1em 0 0;
}

.journal {
  font-style: italic;
}

.author {
  font-weight: bold;
}

.current {
  border: 0.1em solid #f59f00;
  background-color: #fff9db;
  border-radius: 1em;
  padding: 0 0.5em;
}

.collapse-button {
  padding: 0.1em 0.5em;
  margin: 0.5em 0 0 0;
  font-size: 1em;
  font-family: inherit;
  color: #000000;
  background: none;
  border: 0.1em solid #000000;
  border-radius: 1em;
}

.collapse-inner {
  padding: 1em 1.5em;
  margin-top: 0.5em;
  background-color: #f8f9fa;
  border-radius: 1em;
}

.collapse-inner > p:first-child {
  margin: 0;
}

.section {
  background-color: #ffffff;
  padding: 2.5em;
  border-radius: 2em;
  margin-top: 1em;
  box-shadow: 0 0 0.5em 0 rgba(73, 80, 87, 0.1);
}

.center-container {
  width: 100%;
  text-align: center;
}

#bio hr {
  width: 10%;
  margin: 2em auto;
  height: 0.25em;
  background-color: #1864ab;
  border: none;
}

.multiline-container {
  display: flex;
}

.section-decoration {
  display: flex;
}

.section-decoration hr {
  width: 100%;
  height: 0.25em;
  background-color: #1864ab;
  border: none;
  position: relative;
  top: 1em;
  margin-left: 2em;
}

.mail-inner {
  background-color: #e7f5ff;
  border-radius: 1em;
  padding: 0 0.5em;
}
